cryptg
numpy
git+https://github.com/Abhay3011/youtube-dl
git+https://github.com/Tinche/aiofiles/archive/master.zip
Pillow
aiohttp
hachoir
olefile
requests
tgcrypto
aiofiles
dnspython
motor[srv]
beautifulsoup4
pyrogram==1.4.16
